#activePartner:checked {
    border: none;
    background-color: #2ecc71;
}

a{
    color: #2ecc71;
}

a:hover{
    color:#27ae60;
}

input[type="checkbox"]:checked{
    background-color: #27ae60;
    border: none;
}

