<p>Bienvenue chez Lemon Fitness un compte vous a été ouvert avec 
cette adresse e-mail et le mot de passe suivant : {{password}}</p>
<br/>
<p>Pensez à réinitialiser votre mot de passe </p>
<a class="btn btn-success" href="{{absolute_url(path('app_home'))}}">Cliquer ici pour vous connecter</a>