{% extends "base.html.twig" %}

{% block Nav %}<h4 class="text-center mt-3">Redefinir mon mot de passe</h4>{% endblock %}
{% block body %}
    <section class="container">
        <div class="row m-auto">
            <form method="Post">
                {{ form_row(form.password) }}
                {{ form_rest(form) }}
                <input class="btn btn-success" type="submit">
            </form>
        </div>

    </section>
{% endblock %}